@model IEnumerable<WhatSAP.Models.Activity>
@{
    ViewData["Title"] = "SearchResult";
}

<h2>SearchResult</h2>

<div class="row">
    <div class="col-sm-6">
        @for (int i = 0; i < Model.Count(); i++)
        {
            if (i > 0 && i % 3 == 0)
            {
            @:</div><div class="row">
                <br />
            }

            <div class="card">
                <img class="card-img-top" src="~/images/activities/@(Model.ElementAt(i).Key).jpg" alt="@Model.ElementAt(i).ActivityName" />
                <div class="card-body">
                    <h5 class="card-title">@Model.ElementAt(i).ActivityName</h5>
                    <p class="card-text">
                        @Model.ElementAt(i).Description <br />
                        Price: $@Model.ElementAt(i).Price per person
                    </p>
                    <a class="btn btn-primary" href="@Url.Action("Details", "Action")">
                        See Details
                        @*TODO: Should be replaced! Calling Details method in Activity Controller by passing the activity ID*@
                    </a>
                </div>
            </div>
        }
    </div>
</div>